body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: black;
   background-size: cover;
   height: 100vh;
   width: 100%;
}

nav{
    position: fixed;
    margin-top: -500px;
    background-color: rgba(240, 255, 255, 0.064);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 103%;
}

.logo a{
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    line-height: 70px;
    margin: 0 27px;
    text-decoration: none;
}

.logo:hover a{
    color: #03fcfc;
}

nav ul{
    float: right;
    margin-right: 3rem;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    font-size: 17px;
    color:azure;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.toAboutPage a{
    color: rgba(240, 255, 255, 0.801);
    font-size: 21px;
    font-family: initial;
    font-weight: lighter;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.toAboutPage:hover a{
    color: #03fcfc;
}

.toAboutPage{
    float: right;
   margin-right: 20px;
   margin-top: -44rem;
}

.toMyWork a{
    color: rgba(240, 255, 255, 0.801);
    font-size: 16px;
    font-family: initial;
    font-weight: lighter;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.toMyWork:hover a{
    color: #03fcfc;
}

.toMyWork{
    float: right;
   margin-right: 20px;
   margin-top: -40rem;
}

h2{
    color: azure;
    font-size: 24px;
    margin-top: 495px;
    text-align: center;
    font-weight: lighter;
    font-family: initial;
}

h2 a{
    color:azure;
}

h3{
    color: azure;
    font-size: 207px;
    margin-top: -45px;
    text-align: center;
}

h3{
    animation: fadeAndScale 1.7s cubic-bezier(0.1, -0.1, 0.22, 1);
    transform-origin: center bottom;
}

@keyframes fadeAndScale {
    from{
        opacity: 0;
        transform: scale3d(.150, .150, 1);
    }
    to{
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

/*.container{
    margin: 0 auto;
    height: 16vh;
    width: 48%;
    border: 2px solid rgb(224, 224, 236);
    margin-top:-92rem;
    margin-left: 40rem;
}*/


#imagesContainerBackground{
    border: 1px solid;
    height: 89rem;
    margin-top: -9rem;
    background-color:  rgb(83, 66, 229);
    z-index: 9;

}

.cus-div:after{
    position: absolute;
    width: 100vh;
    height: 100vh;
    background: inherit;
    z-index: -1;
    bottom: 0;
    content: '';
}

#imagesContainerBackground:after,

.content{
    font-weight: bold;
    text-align: center;
    padding: 95px 46px;
    overflow: hidden;
    display: block;
    height: 50px;
}

*{
    box-sizing: border-box;
}

section{
    background: linear-gradient(to right, rgb(83, 66, 229));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    margin-top: -120px;
}

.imageContainer{
    display: flex;
    width: 155vh;
}

.panel{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: solid 4px black;
    height: 89vh;
    border-radius: 6px;
    cursor: pointer;
    flex: 14;
    margin: 10px;
    transition: all 700ms ease-in;
}

.panel h4{
    font-size: 27px;
    position: absolute;
    top: 32px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 80;
}

.panel.active h4{
    opacity: 1;
    transition: opacity .2s ease-in .3s;
}

@media (max-width: 480px){
    .imageContainer{
        width: 100vw;
    }
    .panel:nth-last-of-type(5),
    .panel:nth-last-of-type(6),
    .panel:nth-last-of-type(7) {
        display: none;
    }
}

#comicLink{
    color: black;
}

.message{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    transition: ease-in-out 0.5s;
    margin-left: 400px;
    margin-top: -28rem;

}

.message:hover{
    color: #03fcfc;
    font-size: 125px;
}

.slogan{
    font-weight: lighter;
    font-family: initial;
    color: azure;
    font-size: 20px;
    margin-top: -203px;
    margin-left: 675px;
}
.bottomNav1{
    float: left;
    margin-left: -3px;
    margin-top: 13.5rem;
}

.bottomNav1 li{
    display: inline-block;
    margin-right: 370px;
}

.bottomNav1 li a{
    font-size: 27px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}

.lastLink{
    float: right;
    margin-right: 1px;
    margin-top: 13.5rem;
}

.lastLink li{
    display: inline-block;
    margin-right: 25px;
}

.lastLink li a{
    font-size: 25px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}