body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #fce1ea;
   background-size: cover;
   height: 100vh;
}

nav{
    margin-left: 30px;
    margin-top: 40px;
    background-color: black;
    backdrop-filter: blur(7px);
    height: 90px;
    width: 95%;
}

nav h1{
    color: azure;
    font-size: 42px;
    text-align: center;
    padding-top: 19px;
}

.logo{
    float: left;
    margin-left: 10px;
    margin-top: -110px;
    background-color: azure;
    backdrop-filter: blur(7px);
    height: 60px;
    width: 110px;
    position: fixed;
}
nav h2 a{
    color: black;
    margin-left: 18px;
    text-decoration: none;
}

.list{
    float: right;
    margin-right: 16px;
    margin-top: -110px;
    background-color: azure;
    backdrop-filter: blur(7px);
    height: 170px;
    width: 110px;
}

.list ul{
    padding: 11px;
    margin-top: 4px;
}
.list ul li{
    margin-top: 12px;
}
.list ul li a{
    color: black;
    font-size: 19px;
    text-decoration: underline;
}

.Block1{
    height: 300px;
    width: 220px;
    border: 3px solid black;
    border-radius: 9px;
    margin-left: 140px;
    margin-top: 20px;
}

.Block2{
    height: 280px;
    width: 290px;
    border: 3px solid black;
    border-radius: 9px;
    margin-left: 380px;
    margin-top: -90px;
}

.Block3{
    height: 200px;
    width: 440px;
    border: 4px solid black;
    border-radius: 9px;
    margin-left: 380px;
    margin-top: -500px;
}

.Block4{
    height: 180px;
    width: 220px;
    border: 4px solid black;
    border-radius: 9px;
    margin-left: 140px;
    margin-top: 110px;
}

.Block5{
    height: 300px;
    width: 545px;
    border: 4px solid black;
    border-radius: 9px;
    margin-left: 140px;
    margin-top: 11px;
}

.Block6{
    height: 292px;
    width: 140px;
    border: 3px solid black;
    border-radius: 9px;
    margin-left: 685px;
    margin-top: -607px;
}

.Block7{
    height: 350px;
    width: 270px;
    border: 3px solid black;
    border-radius: 9px;
    margin-left: 840px;
    margin-top: -515px;
}

.Block8{
    height: 140px;
    width: 270px;
    border: 4px solid black;
    border-radius: 9px;
    margin-left: 840px;
    margin-top: 8px;
}

.Block9{
    height: 500px;
    width: 180px;
    border: 4px solid black;
    border-radius: 9px;
    margin-left: 1130px;
    margin-top: -510px;
}

h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 820px;
    margin-top: 120px;
}

h4 ul{
    float: left;
    margin-left: -3px;
    margin-top: 230px;
}

h4 ul li{
    display: inline-block;
    margin-right: 19px;
}

h4 ul li a{
    font-size: 12px;
    color: black;
    text-decoration: overline;
}