body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-color: #fdb2cb;
   background-size: cover;
   height: 100vh;
}

nav{
    margin-left: 30px;
    margin-top: 40px;
    background-color: black;
    backdrop-filter: blur(7px);
    height: 90px;
    width: 95%;
}

nav h1{
    color: azure;
    font-size: 42px;
    text-align: center;
    padding-top: 19px;
}

.logo{
    float: left;
    margin-left: 10px;
    margin-top: -110px;
    background-color: azure;
    backdrop-filter: blur(7px);
    height: 60px;
    width: 110px;
    position: fixed;
}
nav h2 a{
    color: black;
    margin-left: 18px;
    text-decoration: none;
}

.list{
    float: right;
    margin-right: 16px;
    margin-top: -110px;
    background-color: azure;
    backdrop-filter: blur(7px);
    height: 170px;
    width: 110px;
}

.list ul{
    padding: 11px;
    margin-top: 4px;
}
.list ul li{
    margin-top: 12px;
}
.list ul li a{
    color: black;
    font-size: 19px;
    text-decoration: underline;
}

.headingBox{
    height: 115px;
    width: 320px;
    border: 3px solid black;
    margin-left: 110px;
    margin-top: 90px;
    background-color: black;
}

.designHeading{
    color: azure;
    font-size: 30px;
    margin-left: 160px;
    margin-top: -105px;
}

.designBox{
    height: 900px;
    width: 1350px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    margin-left: 82px;
    margin-top: -20px;
}

.designHead1{
    margin-top: -880px;
    margin-left: 110px;
    font-size: 23px;
}