body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  rgb(83, 66, 229);
   background-size: cover;
   height: 100vh;
}

nav{
    position: fixed;
    margin-top: -90px;
    background-color:  rgba(240, 255, 255, 0.186);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 100%;
}

.logo a{
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
    margin: 0 9px;
    text-decoration: none;
}

.logo:hover a{
    color: #03fcfc;
}

nav ul{
    float: right;
    margin-right: 1rem;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    font-size: 15px;
    color: black;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.essayHeadingWords{
    color: azure;
    font-size: 85px;
    margin-top: 5.5rem;
    text-align: center;
    transition: ease-in-out 0.7s;
}


.placeHolder{
    height: 188rem;
    width: 1200px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 19px;
    margin-left: 140px;
    margin-top: -15px;
}

.headingEssay{
    height: 115px;
    width: 320px;
    border: 3px solid black;
    margin-left: 200px;
    margin-top: 90px;
    background-color: black;
}

.para1{
    font-weight: bold;
    font-size: 24px;
    margin-top: -186rem;
    margin-left: 37rem;
}

.para2{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para3{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para4{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para5{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para6{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para7{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para8{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para9{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para10{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

.para11{
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 10rem;
    padding-right: 12rem;
}

h5{
    color:azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130px;
    margin-left: 400px;
    margin-top: 15rem;

}

h5 p{
    font-weight: lighter;
    font-family: initial;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
}

.bottomNav1{
    float: left;
    margin-left: -3px;
    margin-top: -3rem;
}

.bottomNav1 li{
    display: inline-block;
    margin-right: 400px;
}

.bottomNav1 li a{
    font-size: 30px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}

