body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: rgb(83, 66, 229); 
   background-size: cover;
   height: 100vh;
}

nav{
    position: fixed;
    background-color:  rgba(240, 255, 255, 0.132);
    backdrop-filter: blur(7px);
    height: 85px;
    width: 100%;
    margin-top: -170px;
}

.logo a{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
    margin: 0 27px;
    text-decoration: none;
}

.logo:hover a{
    color: #03fcfc;
}


nav ul{
    float: right;
    margin-right: 1px;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    margin-top: 170px;  
    color: azure;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 299px;
    padding-right: 120px;
    
}

h2 p{
    margin-right: 90px;
    margin-top: 20px;
}

h2 p a{
    margin-right: 90px;
    margin-top: 40px;
    color: azure;
}

.container{
    border: 1px solid antiquewhite;
    height: 540px;
}

.container img{
    border-radius: 4px;
    width: 420px;
    height: 460px;
    margin-left: 870px;
    margin-top: -320px;
}

.container p{
    margin-right: 680px;
    margin-left: 300px;
    margin-top: 60px;
    color: azure;
    font-size: 24px;
    font-weight: lighter;
    font-family: initial;
}

#message{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120px;
    margin-left: 400px;
    margin-top: 290px;
    transition: ease-in-out 0.5s;

}

#message:hover{
    color: #03fcfc;
    font-size: 125px;
}

#slogan{
    font-weight: lighter;
    font-family: initial;
    color: azure;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 280px;
}


.bottomNav{
    float: left;
    margin-left: -3px;
    margin-top: 5rem;
}

.bottomNav li{
    display: inline-block;
    margin-right: 370px;
}

.bottomNav li a{
    font-size: 27px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}

.lastLink{
    float: right;
    margin-right: 1px;
    margin-top: 5.2rem;
}

.lastLink li{
    display: inline-block;
    margin-right: 25px;
}

.lastLink li a{
    font-size: 25px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}

