body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: black;
   background-size: cover;
   height: 100vh;
}

nav{
    position: fixed;
    margin-top: -495px;
    background-color: rgba(240, 255, 255, 0.258);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 103%;
}

.logo a{
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
    margin: 0 27px;
    text-decoration: none;
}

.logo:hover a{
    color: #03fcfc;
}

nav ul{
    float: right;
    margin-right: 3rem;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    font-size: 17px;
    color:azure;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.toAboutPage a{
    color: rgba(240, 255, 255, 0.801);
    font-size: 21px;
    font-family: initial;
    font-weight: lighter;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.toAboutPage:hover a{
    color: #03fcfc;
}

.toAboutPage{
    float: right;
   margin-right: 20px;
   margin-top: -44rem;
}

.toMyWork a{
    color: rgba(240, 255, 255, 0.801);
    font-size: 16px;
    font-family: initial;
    font-weight: lighter;
    text-decoration: none;
    transition: ease-in-out 0.4s;
}

.toMyWork:hover a{
    color: #03fcfc;
}

.toMyWork{
    float: right;
   margin-right: 20px;
   margin-top: -40rem;
}

h2{
    color: azure;
    font-size: 24px;
    margin-top: 495px;
    text-align: center;
    font-weight: lighter;
    font-family: initial;
}

h2 a{
    color:azure;
}

h3{
    color: azure;
    font-size: 214px;
    margin-top: -45px;
    text-align: center;
    transition: ease-in-out 0.5s;
}

.container{
    margin: 0 auto;
    height: 16vh;
    width: 48%;
    border: 2px solid rgb(252, 252, 255);
    margin-top:-92rem;
    margin-left: 40rem;
}

.container h3{
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    font-size: 2rem;
}

.container button{
    background: black;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    transition: ease-in-out 0.3s;
    margin-top: 0rem;
}

.container button:hover {
    background: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}

.imagesContainerBackground{
    border: 1px solid darkcyan;
    height: 100rem;
    background-color:  #6759e4;
    margin-top: -14rem;
}

.imagesContainer{
    margin-top: 9rem;
    margin-left: 10rem;
    /*Styling the grid box*/
    background-color: #6759e4;
    display: grid;
    height: 100vh;
    grid-template: 100px auto 100px / 20fr 60fr;
    gap: 16px;
}

.box{
    background: pink;
}

.Art1{
    grid-column: 1/ span 2;
    grid-row: 2 / span 2;
    height: 27rem;
}

.Art4{
    height: 19rem;
}

/*styling the images to fit in the div containers/grid box*/

.Art1 img{
    height: 27rem;
    width: 80rem;
}

.Art2 img{
    height: 6.3rem;
    width: 27rem;
}

.Art3 img{
    height: 6.3rem;
    width: 52rem;
}

.Art4 img{
    height: 20rem;
    width: 27rem;
}

h4{
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130px;
    margin-left: 400px;
    margin-top: 58rem;

}

h4 p{
    font-weight: lighter;
    font-family: initial;
    font-size: 20px;
    margin-top: 15px;
    margin-left: 200px;
}
.bottomNav1{
    float: left;
    margin-left: -3px;
    margin-top: 1rem;
}

.bottomNav1 li{
    display: inline-block;
    margin-right: 400px;
}

.bottomNav1 li a{
    font-size: 30px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}
