body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #6759e4;
   background-size: cover;
   height: 100vh;
}

nav{
    position: fixed;
    margin-top: -90px;
    background-color:  rgba(240, 255, 255, 0.186);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 100%;
}

.logo a{
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
    margin: 0 9px;
    text-decoration: none;
}

.logo:hover a{
    color: #03fcfc;
}

nav ul{
    float: right;
    margin-right: 1rem;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    font-size: 15px;
    color: black;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.designStyleHeadingWords{
    color: azure;
    font-size: 85px;
    margin-top: 5.5rem;
    text-align: center;
    transition: ease-in-out 0.7s;
}

.headingBox{
    height: 115px;
    width: 320px;
    border: 3px solid black;
    margin-left: 110px;
    margin-top: 90px;
    background-color: black;
}

.designHeading{
    color: azure;
    font-size: 30px;
    margin-left: 160px;
    margin-top: -105px;
}

.designBox{
    height: 3500px;
    width: 1350px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    margin-left: 82px;
    margin-top: -20px;
}

.headingBox2{
    height: 115px;
    width: 320px;
    border: 3px solid black;
    margin-left: 110px;
    margin-top: 220px;
    background-color: black;
}

.designHeading2{
    color: azure;
    font-size: 30px;
    margin-left: 160px;
    margin-top: -105px;
}

.designBox2{
    height: 200rem;
    width: 1350px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: white;
    margin-left: 82px;
    margin-top: -20px;
}

.designHead1{
    margin-top: -3470px;
    margin-left: 110px;
    font-size: 23px;
}

.wireframeOri1{
    height: 400px;
    width: 520px;
    margin-left: 110px;
    margin-top: -10px;
}

.wireframeOri2{
    height: 440px;
    width: 580px;
    margin-left: 740px;
    margin-top: -530px;
}

.wireframeOri3{
    height: 500px;
    width: 630px;
    margin-left: 110px;
    margin-top: -10px;
}

.originalWireframes{
    margin-left: 780px;
    margin-top: -440px;
}

.designHead2{
    margin-top: 240px;
    margin-left: 100px;
    font-size: 23px;
}

.head2{
    margin-top: -18px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 80px;
}

.designHead3{
    margin-top: 40px;
    margin-left: 100px;
    font-size: 23px;
}

.head3{
    margin-top: -18px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 90px;
}
.contentMapping1{
    height: 620px;
    width: 880px;
    margin-left: 290px;
    margin-top: 10px;
}

.contentMapping2{
    height: 620px;
    width: 880px;
    margin-left: 290px;
    margin-top: 10px;
}


.designHead4{
    margin-top: 40px;
    margin-left: 100px;
    font-size: 23px;
}

.head4{
    margin-top: -18px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 90px;
}

.designHead5{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 23px;
}

.head5{
    margin-top: -15px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 90px;
}

.designHead6{
    margin-top: 30px;
    margin-left: 100px;
    font-size: 23px;
}

.head6{
    margin-top: -15px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 90px;
}

.anna{
    color: black;
}

.annaPic{
    height: 320px;
    width: 480px;
    margin-left: 140px;
    margin-top: 10px;
}

.annaPic2{
    height: 320px;
    width: 480px;
    margin-left: 140px;
    margin-top: 10px;
}

.styleHead{
    margin-top: -200rem;
    margin-left: 110px;
    font-size: 23px;
}

.style1{
    margin-top: -15px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 90px;
}

.styleHead2{
    margin-top: 30px;
    margin-left: 110px;
    font-size: 23px;
}

.style2{
    margin-top: -15px;
    margin-left: 100px;
    font-size: 18px;
    margin-right: 90px;
}

.styleHead3{
    margin-top: 30px;
    margin-left: 110px;
    font-size: 23px;
}

.Sketches1{
    height: 320px;
    width: 480px;
    margin-left: 140px;
    margin-top: 10px;
}

.Sketches2{
    height: 320px;
    width: 480px;
    margin-left: 140px;
    margin-top: 10px;
}

.Sketches3{
    height: 320px;
    width: 480px;
    margin-left: 140px;
    margin-top: 10px;
}

.Sketches4{
    height: 320px;
    width: 480px;
    margin-left: 140px;
    margin-top: 10px;
}

.styleHead4{
    margin-top: 30px;
    margin-left: 110px;
    font-size: 23px;
}

.Anno1{
    height: 730px;
    width: 990px;
    margin-left: 220px;
    margin-top: 10px;
}

.Anno2{
    height: 830px;
    width: 1040px;
    margin-left: 220px;
    margin-top: 10px;
}

.styleHead5{
    margin-top: 30px;
    margin-left: 110px;
    font-size: 23px;
}
.Annote1{
    height: 500px;
    width: 990px;
    margin-left: 220px;
    margin-top: 10px;
}


h5{
    color:azure;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130px;
    margin-left: 400px;
    margin-top: 20rem;

}

h5 p{
    font-weight: lighter;
    font-family: initial;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 200px;
}


.bottomNav1{
    float: left;
    margin-left: -3px;
    margin-top: 7rem;
}

.bottomNav1 li{
    display: inline-block;
    margin-right: 400px;
}

.bottomNav1 li a{
    font-size: 30px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}