body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-color: black;
   background-size: cover;
   height: 100vh;
}

nav{
    position: fixed;
    margin-top: -380px;
    background-color: rgba(240, 255, 255, 0.259);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 103%;
}

.logo a{
    color: aliceblue;
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
    margin: 0 27px;
    text-decoration: none;
}

nav ul{
    float: right;
    margin-right: 30px;
}

nav ul li{
    display: inline-block;
    margin-right: 30px;
}

nav ul li a{
    font-size: 16px;
    color:azure;
    font-weight: lighter;
}

h2{
    color: azure;
    font-size: 20px;
    margin-top: 380px;
    text-align: center;
}

h2 a{
    color:azure;
}

h3{
    color: azure;
    font-size: 75px;
    margin-top: -16px;
    text-align: center;
}

.whiteBlock{
    height: 260px;
    width: 1515px;
    border: 3px solid azure;
    margin-top: -270px;
    background-color: azure;
}

