body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #6759e4;
   background-size: cover;
   height: 100vh;
}

nav{
    position: fixed;
    margin-top: -90px;
    background-color:  rgba(240, 255, 255, 0.186);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 100%;
}

.logo a{
    color: black;
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
    margin: 0 9px;
    text-decoration: none;
}

.logo:hover a{
    color: #03fcfc;
}

nav ul{
    float: right;
    margin-right: 1rem;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    font-size: 15px;
    color: black;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.devBlogHeadingWords{
    color: azure;
    font-size: 85px;
    margin-top: 5.5rem;
    text-align: center;
    transition: ease-in-out 0.9s;
}

.week1heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 97px;
    margin-top: 90px;
    background-color: black;
}

.week1{
    color: azure;
    font-size: 30px;
    margin-left: 270px;
    margin-top: -105px;
}

.week1Date{
    color: azure;
    font-size: 18px;
    margin-left: 270px;
    margin-top: -15px;
}

.week1box{
    height: 800px;
    width: 500px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 129px;
    margin-top: -15px;
}

.week1para1{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: -780px;
    font-size: 16px;
}

.week1para2{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: -4px;
    font-size: 16px;
}

.week1para3{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: 4px;
    font-size: 16px;
}

.week2heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 807px;
    margin-top: -855px;
    background-color: black;
}

.week2Date{
    color: azure;
    font-size: 18px;
    margin-left: 970px;
    margin-top: -15px;
}

.week2{
    color: azure;
    font-size: 30px;
    margin-left: 970px;
    margin-top: -105px;
}

.week2box{
    height: 800px;
    width: 500px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: azure;
    margin-left: 845px;
    margin-top: -15px;
}

.week2para1{
    margin-left: 855px;
    padding-right: 190px;
    margin-top: -780px;
    font-size: 16px;
}

.week2para2{
    margin-left: 855px;
    padding-right: 200px;
    margin-top: -4px;
    font-size: 16px;
}

.week2para3{
    margin-left: 855px;
    padding-right: 200px;
    margin-top: 4px;
    font-size: 16px;
}

.week3heading{
    height: 115px;
    width: 700px;
    border: 3px solid black;
    margin-left: 390px;
    margin-top: 200px;
    background-color: black;
}

.week3{
    color: azure;
    font-size: 30px;
    margin-left: 620px;
    margin-top: -105px;
}

.week3Date{
    color: azure;
    font-size: 18px;
    margin-left: 670px;
    margin-top: -20px;
}

.week3box{
    height: 420px;
    width: 1200px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 140px;
    margin-top: -4px;
}

.week3para1{
    margin-left: 150px;
    padding-right: 180px;
    margin-top: -400px;
    font-size: 16px;
}

.week3para2{
    margin-left: 150px;
    padding-right: 180px;
    margin-top: -4px;
    font-size: 16px;
}

.week3para3{
    margin-left: 150px;
    padding-right: 180px;
    margin-top: 10px;
    font-size: 16px;
}

.week4heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 97px;
    margin-top: 140px;
    background-color: black;
}

.week4Date{
    color: azure;
    font-size: 18px;
    margin-left: 300px;
    margin-top: -20px;
}

.week4{
    color: azure;
    font-size: 30px;
    margin-left: 270px;
    margin-top: -105px;
}

.week4box{
    height: 1030px;
    width: 500px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 129px;
    margin-top: -10px;
}

.week4para1{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: -1010px;
    font-size: 16px;
}

.week4para2{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: -4px;
    font-size: 16px;
}

.week4para3{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: 4px;
    font-size: 16px;
}

.week4para4{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: 0px;
    font-size: 16px;
}

.week4para5{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: 8px;
    font-size: 14px;
}


.week5and6heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 810px;
    margin-top: -1126px;
    background-color: black;
}

.week5and6Date{
    color: azure;
    font-size: 18px;
    margin-left: 1080px;
    margin-top: -20px;
}

.week5and6{
    color: azure;
    font-size: 30px;
    margin-left: 970px;
    margin-top: -105px;
}

.week5and6box{
    height: 1030px;
    width: 500px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 845px;
    margin-top: -10px;
}

.week5and6para1{
    margin-left: 855px;
    padding-right: 180px;
    margin-top: -63.5rem;
    font-size: 16px;
}

.week5and6para2{
    margin-left: 855px;
    padding-right: 180px;
    margin-top: 1rem;
    font-size: 16px;
}

.week5and6para3{
    margin-left: 855px;
    padding-right: 180px;
    margin-top: 1rem;
    font-size: 14px;
}

.week5and6para4{
    margin-left: 855px;
    padding-right: 180px;
    margin-top: 1rem;
    font-size: 14px;
}

.week7heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 97px;
    margin-top: 20rem;
    background-color: black;
}

.week7Date{
    color: azure;
    font-size: 18px;
    margin-left: 350px;
    margin-top: -20px;
}


.week7{
    color: azure;
    font-size: 30px;
    margin-left: 270px;
    margin-top: -105px;
}

.week7box{
    height: 87rem;
    width: 500px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 129px;
    margin-top: -10px;
}

.week7para1{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: -86rem;
    font-size: 16px;
}

.week7para2{
    margin-left: 140px;
    padding-right: 900px;
    font-size: 16px;
}

.week7para3{
    margin-left: 140px;
    padding-right: 900px;
    font-size: 17px;
}

.week7para4{
    margin-left: 140px;
    padding-right: 900px;
    font-size: 17px;
}

.week7para5{
    margin-left: 140px;
    padding-right: 900px;
    font-size: 14px;
}

.week8heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 810px;
    margin-top: -71.6rem;
    background-color: black;
}

.week8Date{
    color: azure;
    font-size: 18px;
    margin-left: 1080px;
    margin-top: -20px;
}


.week8{
    color: azure;
    font-size: 30px;
    margin-left: 970px;
    margin-top: -105px;
}

.week8box{
    height: 87rem;
    width: 500px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 845px;
    margin-top: -10px;
}

.week8para1{
    margin-left: 855px;
    padding-right: 190px;
    margin-top: -86rem;
    font-size: 16px;
}

.week8para2{
    margin-left: 855px;
    padding-right: 190px;
    font-size: 16px;
}

.week8para3{
    margin-left: 855px;
    padding-right: 190px;
    font-size: 14px;
}

.week8para4{
    margin-left: 855px;
    padding-right: 190px;
    font-size: 14px;
}

.week8para5{
    margin-left: 855px;
    padding-right: 190px;
    font-size: 14px;
}

.week9heading{
    height: 115px;
    width: 700px;
    border: 3px solid black;
    margin-left: 390px;
    margin-top: 6rem;
    background-color: black;
}

.week9{
    color: azure;
    font-size: 30px;
    margin-left: 620px;
    margin-top: -105px;
}

.week9Date{
    color: azure;
    font-size: 18px;
    margin-left: 670px;
    margin-top: -20px;
}

.week9box{
    height: 420px;
    width: 1200px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 140px;
    margin-top: -4px;
}

.week9para1{
    margin-left: 150px;
    padding-right: 180px;
    margin-top: -400px;
    font-size: 16px;
}

.week9para2{
    margin-left: 150px;
    padding-right: 180px;
    font-size: 16px;
}

.week9para3{
    margin-left: 150px;
    padding-right: 180px;
    font-size: 16px;
}

.week9para4{
    margin-left: 150px;
    padding-right: 180px;
    font-size: 16px;
}

.week9para5{
    margin-left: 150px;
    padding-right: 180px;
    font-size: 14px;
}

.week10heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 97px;
    margin-top: 8rem;
    background-color: black;
}

.week10Date{
    color: azure;
    font-size: 18px;
    margin-left: 350px;
    margin-top: -20px;
}

.week10{
    color: azure;
    font-size: 30px;
    margin-left: 270px;
    margin-top: -105px;
}

.week10box{
    height: 50rem;
    width: 500px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 129px;
    margin-top: -10px;
}

.week10para1{
    margin-left: 140px;
    padding-right: 900px;
    margin-top: -49rem;
    font-size: 16px;
}

.week10para2{
    margin-left: 140px;
    padding-right: 900px;
    font-size: 16px;
}

.week10para3{
    margin-left: 140px;
    padding-right: 900px;
    font-size: 16px;
}

.week10para4{
    margin-left: 140px;
    padding-right: 900px;
    font-size: 14px;
}

.week11heading{
    height: 115px;
    width: 570px;
    border: 3px solid black;
    margin-left: 810px;
    margin-top: -54rem;
    background-color: black;
}

.week11Date{
    color: azure;
    font-size: 18px;
    margin-left: 1080px;
    margin-top: -20px;
}


.week11{
    color: azure;
    font-size: 30px;
    margin-left: 970px;
    margin-top: -105px;
}

.week11box{
    height: 50rem;
    width: 500px;
    border: 3px solid black;
    background-color: azure;
    border-radius: 15px;
    margin-left: 845px;
    margin-top: -10px;
}

.week11para1{
    margin-left: 855px;
    padding-right: 190px;
    margin-top: -86rem;
    font-size: 16px;
}

.bottomNav1{
    float: left;
    margin-left: -3px;
    margin-top: 90rem;
}

.bottomNav1 li{
    display: inline-block;
    margin-right: 400px;
}

.bottomNav1 li a{
    font-size: 30px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}
