body{
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:  #6759e4;
    background-size: cover;
    height: 100vh;
}

nav{
    position: fixed;
    margin-top: -1px;
    background-color:  rgba(240, 255, 255, 0.186);
    backdrop-filter: blur(7px);
    height: 80px;
    width: 100%;
}

/*Nav bar elements*/ 

.logo a{
    color: azure;
    font-size: 30px;
    font-weight: bold;
    line-height: 55px;
    margin: 0 9px;
    text-decoration: none;
}

nav ul{
    float: right;
    margin-right: 7px;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}

nav ul li a{
    font-size: 17px;
    color: black;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*about title*/
h2{
    float: right;
    margin-right: 80px;
    margin-top: 190px;
    font-size: 56px;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out 0.7s;

}

.imageContainer img{
    width: 71rem;
    height: 100vh;
    margin-top: 0rem;
}

.imageContainer{
    height: 100vh;
}

.aboutMenu{
    float: right;
    margin-right: 13rem;
    margin-top: -40rem;
}

/*the hovering transition of the menu*/
.diary:hover a{
    color: #03fcfc;
}

.design:hover a{
    color: #03fcfc;
}

.Contacts:hover a{
    color: #03fcfc;
}

.aboutMenu{
    margin-top: -24rem;
    font-weight: bold;
}

.aboutMenu li{
    margin-top: 2rem;
}
.aboutMenu li a{
    font-size: 20px;
    color: azure;
    margin-right: 0.5rem;
    text-decoration: none;
    font-family: initial;
    font-weight: lighter;
}

.menuBlock{
    height: 20rem;
    width: 20rem;
    border: 3px solid azure;
    border-radius: 20px;
    margin-left: 200px;
    margin-top: -30px;
}

/*.bottomNav1 ul{
    float: left;
    margin-left: -3px;
    margin-top: -1rem;
}

.bottomNav1 ul li{
    display: inline-block;
    margin-right: 400px;
}

.bottomNav1 ul li a{
    font-size: 30px;
    color: azure;
    font-style: bold;
    text-decoration: none;
}
